{% extends 'base.html' %}
{% block title %} Mise à jour stock {% endblock %}
{% block main %}

<div class="container mb-5">
    <form class="p-3 mt-2 myform" action="{% url 'add_stock' %}" method="post">
    <div class="row mt-2 mb-2 p-2">
        <div class="col-6 shadow-lg">
            {% csrf_token %}

            <div class="col-12 p-2 mt-2 text-info font-weight-bold font-italic d-flex flex-column">
                <label for="fournisseur"> Fournisseurs </label>
                <select name="fournisseur" class="form-control" id="fournisseur" required>
                    <option></option>
                    {% for fournis in suppliers %}
                    <option value="{{fournis.id}}">{{forloop.counter}}-{{fournis.rasion_sociale}}</option>
                    {% endfor %}
                </select>
            </div>

            <div class="mt-2">
              <button style= "font-size: 15px;" type="submit" class="btn btn-info mb-3">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp; <i class="fa-solid fa-floppy-disk"></i>
              </button>
            </div>
        </div>

        <div class="col-6 shadow-lg">
            <div id="wrapper">
                <div class="ligne row p-2 mt-2 text-info font-weight-bold font-italic" id="ligne">
                    <div class="col-4  p-2">
                        <label for="article-1">Article</label>
                        <select name="products" class="form-control" id="article-1">
                            <option></option>
                            {% for product in products %}
                            <option value="{{product.id}}">{{forloop.counter}}-{{product.name}}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div class="col-4 p-2 text-info font-weight-bold font-italic">
                        <label for="qty-1"> Quantité</label>
                        <input required name="quantity-1" type="number" min="1" step="0.1" class="form-control" id="qty-1">
            
                    </div>
                </div>
            </div>

            <div class="mt-2">
                <button id="btn-add" style= "font-size: 15px;" class="btn btn-warning mb-3">
                    <i class="fas fa-plus"></i>&nbsp;&nbsp; Article
                </button>

                <button id="btn-remove" style= "font-size: 15px;" class="btn btn-danger mb-3">
                    <i class="fas fa-minus"></i>&nbsp;&nbsp;
                </button>

            </div>
        </div>
    </div>
    </form> 
</div>


<script type="text/javascript">

    // click to add new line item 
    
    $(document).on('click', '#btn-add', function(){
        
        var number = $('#wrapper').children().length + 1;
    
        let formAdd = `

                        <div class="ligne row p-2 mt-2 text-info font-weight-bold font-italic" id="ligne">
                            <div class="col-4  p-2">
                                <label for="article-${number}">Article</label>
                                <select name="products" class="form-control" id="article-${number}">
                                    {% for product in products %}
                                    <option value="{{product.id}}">{{forloop.counter}}-{{product.name}}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-4 p-2 text-info font-weight-bold font-italic">
                                <label for="qty-${number}"> Quantité</label>
                                <input required name="quantity-${number}" type="number" min="1" step="0.1" class="form-control" id="qty-${number}">
                    
                            </div>
                        </div>


                    `;   
                    
        
        $("#wrapper:last").append(formAdd);          
    })
    
    
    // Remove last item line 
    
    $(document).on('click', '#btn-remove', function(){
        $("#wrapper").children().last().remove();
    })

    {% comment %} // compute defferent totals 12

    function handleChangeSingleArticle(id){

        console.log(id.toString().split('-'))
        let articleId = id.split('-')[1];

        let idQty = `#qty-${articleId}`;

        let unitId = `#unit-${articleId}`;

        let totalIdLine = `#total-a-${articleId}`;

        let totalLine = parseFloat($(idQty).val()) * parseFloat($(unitId).val());

        $(totalIdLine).val(totalLine);

        $('#total').val(parseFloat($('#total').val()) + totalLine);
        
    } {% endcomment %}

// TODO This code is not completed you need to add a busness logic for changing in quantity and removving the last item line.    
    
</script>

{% endblock main %}





