{% extends 'stock/create_n3.html' %}
{% block title %} modifier niveau 3 {% endblock %}

{% block main %}


{% block niveau %}
<a href="" class=" btn btn-info disabled">
  <i class="fas fa-car text-white"></i>&nbsp; <span class="d-none d-sm-inline text-white">Niveau 2</span>
</a>
{% endblock niveau %}


<div class="container mb-5">
  <div class="row">
        <div class="col-6">
              <form method="POST" class="card p-3 mt-2 myform"> 
              {% csrf_token %}
                    <div class="row p-2">
                          <label for="number"> Libéllé </label>
                          {{form.name}}
                    </div>

                    <div class="row p-2">
                      <label for="number"> Lié à </label>
                      {{form.niveau2}}
                    </div>
                    
                    <div class="mt-2">
                          <button style= "font-size: 15px;" type="submit" class="btn btn-success mb-3">
                                <i class="fas fa-plus"></i>&nbsp;&nbsp; Valider
                          </button>
                    </div> 
              </form>
        </div>
        <div class="col-6">
              <table id="example" class="display table table-striped table-hover text-center">
                    <thead>
                        <tr>
                            <th>Libéllé</th>
                            <th>Hiérachie</th>
                            <th style="width: 150px;">
                                Action
                          </th>
                        </tr>
                    </thead>
                    <tbody>
                         
                        <tr>
                            <td>{{niveau3.name}}</td>
                            <td>{{niveau3.niveau2.name}}</td>
                            <td>
                                <a href="" class="btn btn-warning bg-warning text-center" title="Modifier">
                                      <i style="font-size: 15px;" class="fa-solid fa-pencil"></i>
                                </a> 
                            </td>
                        </tr>
                    
                    </tbody>
              </table>
        </div>
  </div>
</div>

{% endblock main %}