{% extends 'base.html' %}
{% block title %} mise à jour client {% endblock %}
{% block main %}


<div class="container mb-5">
        <form method="POST" class="card p-3 mt-2 myform"> 
                  {% csrf_token %}
            <div class="row">
                <div class="col-6">
                        <div class="row p-2">
                              <label for="rasion_sociale"> Raison sociale </label>
                              {{form.rasion_sociale}}
                        </div>

                        <div class="row p-2">
                              <label for="nom_prenom"> Nom && Prénom </label>
                              {{form.nom_prenom}}
                        </div>
                        
                        <div class="row p-2">
                              <label for="phone_number">Téléphone </label>
                              {{form.phone_number}}
                        </div>
                </div>

                <div class="col-6">
                        <div class="row p-2">
                              <label for="email"> Email </label>
                              {{form.email}}
                        </div>

                        <div class="row p-2">
                              <label for="adresse"> Addresse </label>
                              {{form.adresse}}
                        </div>
                        
                </div>
            </div>

                <div class="mt-2">
                        <button style= "font-size: 15px;" type="submit" class="btn btn-success mb-3">
                            <i class="fas fa-plus"></i>&nbsp;&nbsp; Valider
                        </button>
                </div> 
        </form>
    </div>
</div>
{% endblock main %}



           
   

