{% extends 'base.html' %}
{% block title %} mise à jour transporteur {% endblock %}
{% block main %}


<div class="container mb-5">
        <form method="POST" class="card p-3 mt-2 myform"> 
                  {% csrf_token %}
            <div class="row">
                <div class="col-6">
                        <div class="row p-2">
                              <label for="rasion_sociale"> Nom complet </label>
                              {{form.name_transp}}
                        </div>

                        <div class="row p-2">
                              <label for="nom_prenom"> Coordonnée 1 </label>
                              {{form.coordonn1}}
                        </div>
                        
                        
                </div>

                <div class="col-6">
                        <div class="row p-2">
                              <label for="email"> Type de transport </label>
                              {{form.type_trans}}
                        </div>
                        <div class="row p-2">
                            <label for="telephone"> Coordonnée 2 </label>
                            {{form.coordonn2}}
                        </div>
                        <div class="row p-2">
                              <label for="telephone"> Téléphone </label>
                              {{form.phone_number}}
                          </div>
                </div>
            </div>

                <div class="mt-2">
                        <button style= "font-size: 15px;" type="submit" class="btn btn-success mb-3">
                            <i class="fas fa-plus"></i>&nbsp;&nbsp; Valider
                        </button>
                </div> 
        </form>
    </div>
</div>
{% endblock main %}



           
   

