{% extends 'base.html' %}
{% block title %} Livraison {% endblock %}


{% block main %} 

{% block search %}
<div class="row mb-3 mx-2">
    <div class="col">
      <input type="text" class="form-control" placeholder="First name" aria-label="First name">
    </div>
</div>
{% endblock search %}


<div class="container d-flex flex-column mb-5">
    {% block dashboad %}
   
   {% endblock dashboad %}
   
    <div class="row">
        <table id="example" class="display table table-striped table-hover">
            <thead>
                <tr>
                    <th>Numero livraison</th>
                    <th>Client</th>
                    <th> Date Commande</th>
                    <th> Transporteur</th>
                    <th> Status </th>
                    <th style="width: 10%;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for livraison in page_obj %}
                <tr>
                    <td>{{livraison.num_livraison}}</td>
                    <td>{{livraison.commande.client}}</td>
                    <td>{{livraison.create_at}}</td>
                    <td>{{livraison.commande.transport}}</td>
                    {% if livraison.livre is False %}
                    <td class="text-danger font-weight-bold"><i style="font-size: 15px;" class="fa-solid fa-circle"></i> &nbsp;&nbsp;En cours</td>
                    {% endif %}
                    <td>
                        <a href="{% url 'edit_livraison' livraison.id %}" class="btn btn-info bg-info text-center text-white" title="Modifier">
                              <i style="font-size: 15px;" class="fa-solid fa-check"></i>
                        </a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; suivant</a>
                  <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
                  {% endif %}
  
            <span class="current">
                  Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>
  
            {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">suivant</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">précédent &raquo;</a>
            {% endif %}
            </span>
      </div>
    </div>
</div>


{% endblock main %}

