{% extends 'base.html' %}
{% block title %} Stock-entré {% endblock %}


{% block main %} 
	

<a href="{% url 'add_stock' %}" class=" btn btn-success float-end">
<span class="d-none d-sm-inline text-white"> <i class="fas fa-plus text-white"></i></span>
</a>

{% block search %}
<div class="row mb-3 mx-2">
    <div class="col">
        <input type="text" class="form-control" name="code" id="search-input" placeholder="Tapez ici pour rechercher">
    </div>
</div>
{% endblock search %}

<div class="container d-flex flex-column mb-5">
    {% block dashboad %}
   
   {% endblock dashboad %}
   
    <div class="row">
        <table id="example" class="display table table-striped table-hover">
            <thead>
                <tr>
                    <th>Ordre</th>
                    <th>Fournisseur</th>
                    <th> Date opeartion</th>
                    <th style="width: 10%;">Action</th>
                </tr>
            </thead>
            <tbody>
                {% for operation in page_obj %}
                <tr>
                    <td>{{operation.id}}</td>
                    <td>{{operation.fournisseur}}</td>
                    <td>{{operation.create_at}}</td>
                    <td>
                        <a href="{% url 'operation_print' operation.id %}" class="btn btn-warning bg-warning text-center" title="Modifier">
                              <i style="font-size: 15px;" class="fa-solid fa-eye"></i>
                        </a> 
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <div class="pagination">
            <span class="step-links">
                  {% if page_obj.has_previous %}
                  <a href="?page=1">&laquo; suivant</a>
                  <a href="?page={{ page_obj.previous_page_number }}">précédent</a>
                  {% endif %}
  
            <span class="current">
                  Page {{ page_obj.number }} sur {{ page_obj.paginator.num_pages }}.
            </span>
  
            {% if page_obj.has_next %}
                  <a href="?page={{ page_obj.next_page_number }}">suivant</a>
                  <a href="?page={{ page_obj.paginator.num_pages }}">précédent &raquo;</a>
            {% endif %}
            </span>
      </div>
    </div>
</div>

<script>
    // Sélectionner le champ de recherche
    var $searchField = $('#search-input');
    // Écouter l'événement de saisie de recherche
    $searchField.on('input', function() {
      // Récupérer la valeur de recherche
      var value = $searchField.val().toLowerCase();
      // Filtrer les éléments du tableau en fonction de la valeur de recherche
      $('#example tbody tr').filter(function() {
        $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1);
      });
    });
  </script>
  
{% endblock main %}

