{% extends "base.html" %}
{% block title %} change-password {% endblock %}
{% block main %} 
					

<div class="container-sm">
    <div class="row-border">
        <div class="col-6">
          <h2 class="text-success font-italic font-weight-bold">Modifiez votr mot de passe</h2>
          <form method="post" class="form-actions form-check">
            {% csrf_token %}
            <table>
              <tr>
                {{ form.as_table }}
              <tr>
            </table>
            <button type="submit" class="btn btn-success">Valider</button>
          </form>
        </div>
    </div>
</div>

{% endblock main %}